@import url(./colors.css);

html {
    height: 100%;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    margin: 0;
    min-width: 400px;
    display: block;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.top-div {
    background-color: inherit;
    color: inherit;
    display: block;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    padding: 6px;
    height: 60px;
    z-index: 3;
}

.top-div .search-normal {
    background-color: inherit;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    box-sizing: border-box;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;

}

.search-normal a {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.top-div a:hover,
.top-div a:focus {
    text-decoration: underline;
}

#logo{
    visibility: hidden;
}
.g-logo {
    background-color: inherit;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 92px;
    height: calc(100% - 560px);
    max-height: 290px;
    position: relative;
    z-index: 3;

}

.g-logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.g-image-logo-div {
    justify-self: center;
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.g-image-logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.g-image-span {
    color: #4285f4;
    font: 16px / 16px Arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
}

.search-div {
    background-color: inherit;
    color: inherit;
    position: relative;
    padding: 20px;
    max-height: 160px;
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    box-sizing: border-box;
    z-index: 3;
}

.box {
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
}

.text-input {
    display: flex;
    position: relative;
    min-height: 44px;
    width: auto;
    margin: 0 auto;
    max-width: 584px;
    margin-top: 10px;
    background-color: inherit;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    padding: 8px 16px;
    box-sizing: border-box;
}

.text-input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: transparent;

}

.submit-input {
    height: 70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    unicode-bidi: isolate;
}

.search-icon {
    color: #888;
    margin: auto;
    display: flex;
    align-items: center;
    fill: var(--fill-color)
}

.submit-button {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: var(--secondary-color); 
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

footer {
    background-color: var(--footer-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: var(--footer-color);
}