CS50IA/Project 1/minesweeper/__pycache__/
CS50IA/Project 5/traffic/gtsrb
CS50P/Week 5 - Unit Tests/test_twttr/__pycache__/
CS50P/Week 5 - Unit Tests/test_plates/__pycache__/
CS50P/Week 5 - Unit Tests/test_fuel/__pycache__/
CS50P/Week 7 - Regular Expression/Regular, um, Expressions/__pycache__
CS50P/Week 7 - Regular Expression/NUMB3RS/__pycache__/
CS50P/Week 7 - Regular Expression/Working 9 to 5/__pycache__/
CS50P/Week 8 - Object-Oriented Programming/Seasons of Love/__pycache__/
CS50P/Week 8 - Object-Oriented Programming/Cookie Jar/__pycache__/
CS50P/Week 5 - Unit Tests/Re-requesting a Vanity Plate/__pycache__/
CS50P/Week 5 - Unit Tests/Refueling/__pycache__/
CS50P/Week 5 - Unit Tests/Testing my twttr/__pycache__/
