html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    min-width: 400px;
    display: block;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #1f1f1f;
}

.overlap {
    background-color: #fff;
    z-index: 3;
}

.top-div {
    /* display: flex;
    justify-content: right; */
    display: block;
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    align-items: center;
    padding: 6px;
    height: 60px;
}

.top-div .search-normal {
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    /* float: right; */
    box-sizing: border-box;
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    align-items: center;

}

.search-normal a {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    color: #1f1f1f;
}

.top-div a:hover,
.top-div a:focus {
    text-decoration: underline;
}




.g-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 92px;
    height: calc(100% - 560px);
    max-height: 290px;
    position: relative;
}

.g-logo img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.g-image-logo-div{
    justify-self: center;
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.g-image-logo{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.g-image-span{
    color: #4285f4;
    font: 16px / 16px Arial, sans-serif;
    position: absolute;
    left: 215px;
    bottom: 0;
    white-space: nowrap;
}



.search-div {
    position: relative;
    padding: 20px;
    max-height: 160px;
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
    box-sizing: border-box;
    z-index: 3;
}

.box {
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    padding-top: 6px;
}

.text-input {
    display: flex;
    position: relative;
    min-height: 44px;
    width: auto;
    margin: 0 auto;
    max-width: 584px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
    padding: 8px 16px;
    box-sizing: border-box;
}

.text-input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: transparent;

}

.submit-input {
    height: 70px;
    padding-top: 18px;
    display: flex;
    justify-content: center;
    unicode-bidi: isolate;
}

.search-icon {
    font-size: 18px;
    color: #888;
    margin-right: 10px;
}

.submit-input button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


footer {
    /* min-height: 8vh; */
    /* ocupa 8% da altura da tela */
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

footer.hidden {
    transform: translateY(100%);
}

#upper-footer {
    padding: 0px 30px;
    color: #1f1f1f;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    unicode-bidi: isolate;
}

#bottom-footer {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    unicode-bidi: isolate;
}

#bottom-footer div {
    display: flex;
    flex-wrap: wrap;
}

.a-footer {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #1f1f1f;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.config {
    background-color: #fff;
    position: absolute;
    bottom: 100%;
    left: -25px;
    width: 180px;
    height: auto;
    visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 1001;
}

.config-item {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 0px 10px 0px 10px;

}

.config-item:hover {
    background-color: #e5e5e5;
}

.config-item a {
    color: #1f1f1f;
    line-height: normal;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
    line-height: 23px;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
}